<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= product.name %> | Detail</title>
  </head>
  <body>
    <h1><%= product.name %></h1>
    <ul>
      <li>Description: <%= product.description %></li>
      <li>Stock: <%= product.stock %></li>
      <li>Category: <%= product.category %></li>
      <% if (product.avilabble) { %>
      <li>Avilabble: Yes</li>
      <% } else { %>
      <li>Avilabble: No</li>
      <% } %>
      <li>Date: <%= product.date %></li>
      <% product.image.map(i => { %>
      <li>Image: <%= i %></li>
      <% }) %>
    </ul>
    <br />
    <h3>Garment by</h3>
    <ul>
      <% for (const garment of product.garment) { %>
      <li>Name: <%= garment.name %></li>
      <li>Location: <%= garment.location %></li>
      <li>Contact: <%= garment.contact %></li>
      <li>Other product:</li>
      <ol>
        <% for (const product of products) { %>
        <li>Name: <%= product.name %></li>
        <% } %>
      </ol>
      <% } %>
    </ul>
    <a href="/products">All Products</a>
    <a href="/garment/<%= product.garment[0].id %>"
      >Back to <%= product.garment[0].name %></a
    >
  </body>
</html>
