<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %> | Edit Data</title>
</head>
<body>
    <h1>Edit Products : <%= product.name %></h1>
    <form method="post" action="/products/<%= product.id %>?_method=PUT">
      <label for="name">Name</label>
      <input type="text" name="name" value="<%= product.name %>"/>
      <label for="description">Description</label>
      <input type="text" name="description" value="<%= product.description %>"/>
      <label for="stock">Stock</label>
      <input type="number" name="stock" value="<%= product.stock %>"/>
      <label for="avilabble">Avilabble</label>
      <select name="avilabble" id="">
        <option value="true" <%= product.avilabble == true ? 'selected' : '' %>>Yes</option>
        <option value="false" <%= product.avilabble == false ? 'selected' : '' %>>No</option>
      </select>
      <label for="category">Category</label>
      <select name="category" id="">
        <option value="snack" <%= product.category == 'snack' ? 'selected' : '' %>>Snack</option>
        <option value="drink" <%= product.category == 'drink' ? 'selected' : '' %>>Drink</option>
      </select>
      <label for="image">Image</label>
      <input type="file" name="image" value="<%= product.image %>"/>
      <button type="submit">Simpan</button>
    </form>
</body>
</html>